.shop_container{
    display: flex;
    align-self: center;
    justify-content: center;
}

.cards_container{
    width:40%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E87121;
    gap:10px;
}
.card_img{
    width:200px;
    height:300px;
}


.cards_container li{
    width:40%;
    background-color: white;
    color: black;
}
.cards_container li a{
    padding:0px;
    color: black;
}